{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
                        
            <h3>Are you sure you want to delete "{{item}}"?</h3>
                <form action="" method="POST">
                    {% comment %} <h6>{{ item }}</h6> {% endcomment %}
                    {% csrf_token %}

                    <a href="{% url 'home' %}"  class="btn btn-outline-success">Cancel</a>
                    <input type="submit" name="confirm"  class="btn btn-outline-danger"></input>
                </form>
        </div>
    </div>
</div>
{% endblock content %}